@font-face {
    font-family: 'Archistico';
    src: url('Archistico-Bold.woff2') format('woff2'),
        url('Archistico-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

