/*
    C-SKIN EXTENSION
    Extension du composant générique c-skin
    https://github.com/ita-design-system/c-skin.scss
    Ce fichier doit servir à étendre ou surcharger les fonctionnalités
    du composant c-dim selon les besoins du projet
*/
$briks-components-generic: (
    // Nom du composant, obligatoirement skin
    skin: ( 
        // Extension activée true ou false
        enabled: true, 
        // Responsive activée true ou false pour l'extension
        responsive: false, 
        // Valeurs par défaut de l'extension
        defaults: (
            pseudo-classes: (
                // c-skin:disabled
                disabled: (
                    pointer-events: none,
                    color: grey,
                    background-color: lightgrey
                )
            )
        ),
        // Liste des modifieurs contenant chacun une liste de propriétés qui 
        // soit surchargent les propriétés par défaut
        // soit ajoutent des propriétés
        // soit les deux
        modifiers: (

            // BACKGROUND
            bg-white-stripes-1: (
                background: center/calc(100% - 2px) calc(100% - 3px) no-repeat url("../medias/stripes_white_20.svg")
            ),
            bg-white-stripes-2: (
                background: center/calc(100% - 2px) calc(100% - 3px) no-repeat url("../medias/stripes_white_40.svg")
            ),
            bg-white-stripes-3: (
                background: center/calc(100% - 2px) calc(100% - 3px) no-repeat url("../medias/stripes_white_60.svg")
            ),
            bg-white-stripes-4: (
                background: center/calc(100% - 2px) calc(100% - 3px) no-repeat url("../medias/stripes_white_80.svg")
            ),
            bg-white-stripes-5: (
                background: center/calc(100% - 2px) calc(100% - 3px) no-repeat url("../medias/stripes_white_100.svg")
            ),

            bg-damier: (
                background: url("../medias/damier.svg")
            ),

            // BORDER STYLES
            bstyle-dashed: (
                border-style: dashed
            ),
            btstyle-dashed: (
                border-top-style: dashed
            ),
            brstyle-dashed: (
                border-right-style: dashed
            ),
            bbstyle-dashed: (
                border-bottom-style: dashed
            ),
            blstyle-dashed: (
                border-left-style: dashed
            ),

            bstyle-dotted: (
                border-style: dotted
            ),
            btstyle-dotted: (
                border-top-style: dotted
            ),
            brstyle-dotted: (
                border-right-style: dotted
            ),
            bbstyle-dotted: (
                border-bottom-style: dotted
            ),
            blstyle-dotted: (
                border-left-style: dotted
            ),

            // BORDER WIDTHS
            bwidth-4: (
                border-width: 4px
            ),
            bwidth-5: (
                border-width: 5px
            ),
            bwidth-6: (
                border-width: 6px
            ),

            // BORDER COLORS
            bcolor-blue-100: (
                border-color: my-color(blue-100)
            ),
            bcolor-blue-200: (
                border-color: my-color(blue-200)
            ),
            bcolor-blue-300: (
                border-color: my-color(blue-300)
            ),
            bcolor-blue-400: (
                border-color: my-color(blue-400)
            ),
            bcolor-blue-500: (
                border-color: my-color(blue-500)
            ),
            bcolor-blue-600: (
                border-color: my-color(blue-600)
            ),
            bcolor-blue-700: (
                border-color: my-color(blue-700)
            ),
            bcolor-blue-800: (
                border-color: my-color(blue-800)
            ),
            bcolor-blue-900: (
                border-color: my-color(blue-900)
            ),
            bcolor-black-100: (
                border-color: my-color(black-100)
            ),
            bcolor-black-200: (
                border-color: my-color(black-200)
            ),
            bcolor-black-300: (
                border-color: my-color(black-300)
            ),
            bcolor-black-400: (
                border-color: my-color(black-400)
            ),
            bcolor-black-500: (
                border-color: my-color(black-500)
            ),
            bcolor-black-600: (
                border-color: my-color(black-600)
            ),
            bcolor-black-700: (
                border-color: my-color(black-700)
            ),
            bcolor-black-800: (
                border-color: my-color(black-800)
            ),
            bcolor-black-900: (
                border-color: my-color(black-900)
            ),
            bcolor-white-100: (
                border-color: my-color(white-100)
            ),
            bcolor-white-200: (
                border-color: my-color(white-200)
            ),
            bcolor-white-300: (
                border-color: my-color(white-300)
            ),
            bcolor-white-400: (
                border-color: my-color(white-400)
            ),
            bcolor-white-500: (
                border-color: my-color(white-500)
            ),
            bcolor-white-600: (
                border-color: my-color(white-600)
            ),
            bcolor-white-700: (
                border-color: my-color(white-700)
            ),
            bcolor-white-800: (
                border-color: my-color(white-800)
            ),
            bcolor-white-900: (
                border-color: my-color(white-900)
            ),

            // BORDER IMAGE
            bimage-1: (
                border-image: url('../medias/border_white.png') 100 / 10px,
                border-style: solid
            ),
            bimage-2: (
                border-image: url('../medias/border_white.png') 100 / 20px,
                border-style: solid
            ),
            bimage-3: (
                border-image: url('../medias/border_white.png') 100 / 30px,
                border-style: solid
            ),

            // c-skin m-checkbox-1
            checkbox-1: (
                pseudo-elements: (
                    before: (
                        selector: '+*',
                        content: '',
                        background: center/100% no-repeat url('../medias/icon_square.svg')
                    )
                ),
                pseudo-classes: (
                    disabled: (
                        selector: '+*',
                        opacity: 0.5
                    ),
                    checked: (
                        selector: '+*',
                        pseudo-elements: (
                            before: (
                                background: (
                                    center/100% no-repeat url('../medias/icon_square.svg'),
                                    60% 50%/40% no-repeat url('../medias/icon_check.svg')
                                )
                            )
                        )
                    )
                )
            ),
            // c-skin m-radio-1
            radio-1: (
                pseudo-elements: (
                    before: (
                        selector: '+*',
                        content: '',
                        background: center/100% no-repeat url('../medias/icon_circle.svg')
                    )
                ),
                pseudo-classes: (
                    disabled: (
                        selector: '+*',
                        opacity: 0.5
                    ),
                    checked: (
                        selector: '+*',
                        pseudo-elements: (
                            before: (
                                background: (
                                    center/100% no-repeat url('../medias/icon_circle.svg'),
                                    radial-gradient(circle, white 28%, transparent 32%, transparent 100%)
                                )
                            )
                        )
                    )
                )
            ),

            color-scheme-1: (
                color: white,
                background-color: my-color(black-200),
                border-image: url('../medias/border_white.png') 100 / 30px,
                pseudo-classes: (
                    hover: (
                        background-color: my-color(black-300)
                    ),
                    focus: (
                        outline: none,
                        border-image: url('../medias/border_white.png') 100 / 10px,
                        border-style: solid,
                        background-color: my-color(black-300)
                    ),
                    required: (
                        selector: '+label',
                        pseudo-elements: (
                            after: (
                                content: " *",
                                color: red
                            )
                        )
                    ),
                    disabled: (
                        opacity: 0.5
                    )
                )
            ),

            // COLORS
            c-blue-100: (
                color: my-color(blue-100)
            ),
            c-blue-200: (
                color: my-color(blue-200)
            ),
            c-blue-300: (
                color: my-color(blue-300)
            ),
            c-blue-400: (
                color: my-color(blue-400)
            ),
            c-blue-500: (
                color: my-color(blue-500)
            ),
            c-blue-600: (
                color: my-color(blue-600)
            ),
            c-blue-700: (
                color: my-color(blue-700)
            ),
            c-blue-800: (
                color: my-color(blue-800)
            ),
            c-blue-900: (
                color: my-color(blue-900)
            ),
            c-black-100: (
                color: my-color(black-100)
            ),
            c-black-200: (
                color: my-color(black-200)
            ),
            c-black-300: (
                color: my-color(black-300)
            ),
            c-black-400: (
                color: my-color(black-400)
            ),
            c-black-500: (
                color: my-color(black-500)
            ),
            c-black-600: (
                color: my-color(black-600)
            ),
            c-black-700: (
                color: my-color(black-700)
            ),
            c-black-800: (
                color: my-color(black-800)
            ),
            c-black-900: (
                color: my-color(black-900)
            ),
            c-white-100: (
                color: my-color(white-100)
            ),
            c-white-200: (
                color: my-color(white-200)
            ),
            c-white-300: (
                color: my-color(white-300)
            ),
            c-white-400: (
                color: my-color(white-400)
            ),
            c-white-500: (
                color: my-color(white-500)
            ),
            c-white-600: (
                color: my-color(white-600)
            ),
            c-white-700: (
                color: my-color(white-700)
            ),
            c-white-800: (
                color: my-color(white-800)
            ),
            c-white-900: (
                color: my-color(white-900)
            ),
            // BACKGROUND COLOR
            bc-blue-100: (
                background-color: my-color(blue-100)
            ),
            bc-blue-200: (
                background-color: my-color(blue-200)
            ),
            bc-blue-300: (
                background-color: my-color(blue-300)
            ),
            bc-blue-400: (
                background-color: my-color(blue-400)
            ),
            bc-blue-500: (
                background-color: my-color(blue-500)
            ),
            bc-blue-600: (
                background-color: my-color(blue-600)
            ),
            bc-blue-700: (
                background-color: my-color(blue-700)
            ),
            bc-blue-800: (
                background-color: my-color(blue-800)
            ),
            bc-blue-900: (
                background-color: my-color(blue-900)
            ),
            bc-black-100: (
                background-color: my-color(black-100)
            ),
            bc-black-200: (
                background-color: my-color(black-200)
            ),
            bc-black-300: (
                background-color: my-color(black-300)
            ),
            bc-black-400: (
                background-color: my-color(black-400)
            ),
            bc-black-500: (
                background-color: my-color(black-500)
            ),
            bc-black-600: (
                background-color: my-color(black-600)
            ),
            bc-black-700: (
                background-color: my-color(black-700)
            ),
            bc-black-800: (
                background-color: my-color(black-800)
            ),
            bc-black-900: (
                background-color: my-color(black-900)
            ),
            bc-white-100: (
                background-color: my-color(white-100)
            ),
            bc-white-200: (
                background-color: my-color(white-200)
            ),
            bc-white-300: (
                background-color: my-color(white-300)
            ),
            bc-white-400: (
                background-color: my-color(white-400)
            ),
            bc-white-500: (
                background-color: my-color(white-500)
            ),
            bc-white-600: (
                background-color: my-color(white-600)
            ),
            bc-white-700: (
                background-color: my-color(white-700)
            ),
            bc-white-800: (
                background-color: my-color(white-800)
            ),
            bc-white-900: (
                background-color: my-color(white-900)
            ),
            brad-1: (
                border-radius: my-border-radius(1)
            ),
            brad-2: (
                border-radius: my-border-radius(2)
            ),
            brad-3: (
                border-radius: my-border-radius(3)
            ),
            brad-4: (
                border-radius: my-border-radius(4)
            ),
            bradtl-1: (
                border-top-left-radius: my-border-radius(1)
            ),
            bradtl-2: (
                border-top-left-radius: my-border-radius(2)
            ),
            bradtl-3: (
                border-top-left-radius: my-border-radius(3)
            ),
            bradtl-4: (
                border-top-left-radius: my-border-radius(4)
            ),
            bradtr-1: (
                border-top-right-radius: my-border-radius(1)
            ),
            bradtr-2: (
                border-top-right-radius: my-border-radius(2)
            ),
            bradtr-3: (
                border-top-right-radius: my-border-radius(3)
            ),
            bradtr-4: (
                border-top-right-radius: my-border-radius(4)
            ),
            bradbr-1: (
                border-bottom-right-radius: my-border-radius(1)
            ),
            bradbr-2: (
                border-bottom-right-radius: my-border-radius(2)
            ),
            bradbr-3: (
                border-bottom-right-radius: my-border-radius(3)
            ),
            bradbr-4: (
                border-bottom-right-radius: my-border-radius(4)
            ),
            bradbl-1: (
                border-bottom-left-radius: my-border-radius(1)
            ),
            bradbl-2: (
                border-bottom-left-radius: my-border-radius(2)
            ),
            bradbl-3: (
                border-bottom-left-radius: my-border-radius(3)
            ),
            bradbl-4: (
                border-bottom-left-radius: my-border-radius(4)
            ),
            // BOX SHADOWS
            bs-1: (
                box-shadow: my-shadow(1)
            ),
            bs-2: (
                box-shadow: my-shadow(2)
            ),
            bs-3: (
                box-shadow: my-shadow(3)
            ),
            bs-inset-1: (
                box-shadow: my-shadow(inset-1)
            )
        )
    )
);