@font-face {
    font-family: 'Architect Blueprint';
    src: url('ArchitectBlueprint.woff2') format('woff2'),
        url('ArchitectBlueprint.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

