@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?iotlhz') format('truetype'),
    url('fonts/icomoon.woff?iotlhz') format('woff'),
    url('fonts/icomoon.svg?iotlhz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check_line:before {
  content: "\e93d";
}
.icon-comment_fill:before {
  content: "\e943";
}
.icon-hand_flat_fill:before {
  content: "\e944";
}
.icon-tyre_fill:before {
  content: "\e945";
}
.icon-road_line:before {
  content: "\e946";
}
.icon-users_fill:before {
  content: "\e947";
}
.icon-calendar_check_line:before {
  content: "\e948";
}
.icon-safety_fill:before {
  content: "\e949";
}
.icon-gearbox:before {
  content: "\e942";
}
.icon-box_unboxed_line:before {
  content: "\e92f";
}
.icon-close_circle_line:before {
  content: "\e938";
}
.icon-zoom_plus_line:before {
  content: "\e939";
}
.icon-plus_circle_line:before {
  content: "\e93a";
}
.icon-7_line:before {
  content: "\e93b";
}
.icon-charging_point_line:before {
  content: "\e93c";
}
.icon-seat_line:before {
  content: "\e93e";
}
.icon-gift_line:before {
  content: "\e93f";
}
.icon-calendar_alt_line:before {
  content: "\e940";
}
.icon-truck_line:before {
  content: "\e941";
}
.icon-eye_close_line:before {
  content: "\e921";
}
.icon-eye_line:before {
  content: "\e922";
}
.icon-stopwatch_line:before {
  content: "\e920";
}
.icon-list_view_line:before {
  content: "\e91f";
}
.icon-sliders_line:before {
  content: "\e91a";
}
.icon-star_fill:before {
  content: "\e91d";
}
.icon-star_line:before {
  content: "\e91e";
}
.icon-clock_line:before {
  content: "\e902";
}
.icon-map_line:before {
  content: "\e903";
}
.icon-comment_line:before {
  content: "\e963";
}
.icon-geolocation_point_line:before {
  content: "\e964";
}
.icon-three_years_line:before {
  content: "\e95d";
}
.icon-car_sharing:before {
  content: "\e962";
}
.icon-time_marker_line:before {
  content: "\e95e";
}
.icon-calendar_line:before {
  content: "\e95f";
}
.icon-geolocate_line:before {
  content: "\e961";
}
.icon-location_fill:before {
  content: "\e95b";
}
.icon-location_line:before {
  content: "\e95c";
}
.icon-currency_euro_fill:before {
  content: "\e94c";
}
.icon-currency_euro_line:before {
  content: "\e94d";
}
.icon-information_fill:before {
  content: "\e950";
}
.icon-information_line:before {
  content: "\e951";
}
.icon-document_2_fill:before {
  content: "\e94a";
}
.icon-document_2_line:before {
  content: "\e94b";
}
.icon-search_fill:before {
  content: "\e936";
}
.icon-search_line:before {
  content: "\e937";
}
.icon-search_2_fill:before {
  content: "\e930";
}
.icon-search_2_line:before {
  content: "\e931";
}
.icon-check_circle_fill:before {
  content: "\e932";
}
.icon-check_circle_line:before {
  content: "\e933";
}
.icon-alert_octagon_fill:before {
  content: "\e934";
}
.icon-alert_octagon_line:before {
  content: "\e935";
}
.icon-close_fill:before {
  content: "\e923";
}
.icon-close_line:before {
  content: "\e92a";
}
.icon-down_line:before {
  content: "\e916";
}
.icon-up_line:before {
  content: "\e919";
}
.icon-left_line:before {
  content: "\e917";
}
.icon-right_line:before {
  content: "\e918";
}
.icon-down_fill:before {
  content: "\e92b";
}
.icon-up_fill:before {
  content: "\e92c";
}
.icon-left_fill:before {
  content: "\e92d";
}
.icon-right_fill:before {
  content: "\e92e";
}
.icon-arrow_down_fill:before {
  content: "\e91b";
}
.icon-arrow_down_line:before {
  content: "\e91c";
}
.icon-arrow_left_fill:before {
  content: "\e924";
}
.icon-arrow_left_line:before {
  content: "\e925";
}
.icon-arrow_right_fill:before {
  content: "\e926";
}
.icon-arrow_right_line:before {
  content: "\e927";
}
.icon-arrow_up_fill:before {
  content: "\e928";
}
.icon-arrow_up_line:before {
  content: "\e929";
}
.icon-car_fill:before {
  content: "\e900";
}
.icon-car_line:before {
  content: "\e901";
}
.icon-user_3_fill:before {
  content: "\e904";
}
.icon-user_3_line:before {
  content: "\e905";
}
.icon-store_2_fill:before {
  content: "\e906";
}
.icon-store_2_line:before {
  content: "\e907";
}
.icon-phone_fill:before {
  content: "\e908";
}
.icon-phone_line:before {
  content: "\e909";
}
.icon-menu_fill:before {
  content: "\e90a";
}
.icon-menu_line:before {
  content: "\e90b";
}
.icon-mail_fill:before {
  content: "\e90c";
}
.icon-mail_line:before {
  content: "\e90d";
}
.icon-youtube_fill:before {
  content: "\e90e";
}
.icon-youtube_line:before {
  content: "\e90f";
}
.icon-linkedin_fill:before {
  content: "\e910";
}
.icon-linkedin_line:before {
  content: "\e911";
}
.icon-ins_line:before {
  content: "\e912";
}
.icon-ins_fill:before {
  content: "\e913";
}
.icon-facebook_fill:before {
  content: "\e914";
}
.icon-facebook_line:before {
  content: "\e915";
}
